.action-btn{
  font: inherit;
  color: $accent-pink;
  background-color: #fff;
  border: solid 0.1px $accent-pink;
  padding: 0.55rem 1.2rem;
  &:hover{
    background-color: $accent-pink;
    color: #fff;
    transition: 0.5s;
  }
}
.description{
  p{
    font-size: 0.8rem;
    color: #6c6c6c;
    text-align: left;
    margin: 1rem 0;
  }
}
.line{
  max-width: 45vw;
  border-bottom: 0.1px solid black;
  margin: 2.5rem auto 1.5rem auto;
}
.dotted{
  display: inline;
  border-left: 1px dotted #999;
  height: 2rem;
  width: 1px;
}
.heading{
  font-size: 2.2rem;
  font-weight: 400;
  padding-bottom: 2rem;
  color: #222;
}

.flex-center{
  display: flex;
  align-items: center;
}
