@mixin popup($width, $height){
  width: $width;
  min-height: $height;
  display: flex;
  flex-direction: column;
  position: fixed;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px $gray;
  border-radius: 2px;
}

#popup-map{
  .popup {
    @include popup(500px, 350px);
    min-width: 300px;
    iframe {
      flex-grow: 1;
    }
  }
}
#popup-info{
  .popup{
    @include popup(600px, 280px);
    min-width: 300px;
    main{
      position: relative;
      padding: 1rem;
      text-align: left;
      color: $light-gray;
      font-size: 0.8rem;
      figure {
        margin: 0;
        img {
          width: 174px;
          float: left;
          margin-right: 21px;
        }
      }
      .info{
        padding-left: 10px;
        line-height: 20px;
        h1{
          margin: 3px 0 18px 0;
          color: black;
          font-weight: 300;
          font-size: 1.8rem;
        }
        p:first-of-type{
          color: black;
          font-weight: 600;
          font-size: 1rem;
          margin-bottom: 5px;
        }
        .mail{
          color: $light-blue;
        }
      }
      .star{
        position: absolute;
        right: 10px;
        top: 15px;
        width: 35px;
        &:hover{

        }
      }
    }
    .details{
      clear: both;
      padding-top: 1.6rem;
      line-height: 1rem;
      .map{
        display: inline-block;
        padding-top: 15px;
        text-decoration: underline dashed 0.8px;
        color: $blue;
      }
    }
  }
}
#popup-add{
  .popup {
    @include popup(320px, 520px);
    min-width: 300px;
    form {
      display: flex;
      flex-direction: column;
      color: $light-gray;
      font-size: 1rem;
      padding: 1rem 1.5rem;
      text-align: left;
      line-height: 1.8rem;
      gap: 1rem;
      .input{
        width: 100%;
        padding-left: 0.4rem;
        height: 2rem;
        font-size: inherit;
        border: solid 0.8px #949494;
        border-radius: 1px;
        color: #6c6c6c;
        &::placeholder{
          color: #b4b4b4;
        }
      }
      .bg-color{
        width: 2.5rem;
        height: 1.3rem;
        padding: 1.2px 2px;
        margin: 0 1.8rem;
      }
      .form-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px 18px;
      }
      #comment{
        height: 71px;
      }
      .action-btn{
        margin-top: 1rem;
        height: 34px;
        font-size: 1.3rem;
      }
      .gender{
        display: flex;
        align-items: start;
        gap: 4px;
        & > :first-child{
          text-indent: 16px;
        }
        input[type="radio"]{
          width: 8px;
          margin-top: 1px;
        }
      }
      textarea{
        display: inline-block;
        padding-top: 5px;
      }
    }
  }
}
.exit{
  display: inline-block;
  height: 2.2rem;
  margin-right: 10px;
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}
.popup-header{
  display: flex;
  width: 100%;
  height: 35px;
  background: $gray;
  justify-content: space-between;
  align-items: center;
  border-radius: 2px 2px 0 0;
  h1 {
    color: white;
    font: 500 1.2rem $main-font;
    margin-left: 10px;
  }
}
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(2px);
  background: rgba(0,0,0,0.5);
  visibility: hidden;
  z-index: 2;
}
.overlay:target {
  visibility: visible;
}
@media screen and (max-width: 780px){
  #popup-info .popup {
    width: 70vw;
    main {
      figure img {
        width: 135px;
      }
      .info h1 {
        margin-bottom: 1rem;
      }
      .details {
        padding-top: 1rem;
      }
    }
  }
  #popup-map .popup{
    width: 70vw;
    min-height: 40vh;
  }
}
@media screen and (max-width: 500px){
  #popup-info .popup {
    .star {
      top: unset!important;
      bottom: 0.2rem;
    }
  }
}
