@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600&display=swap');

$accent-pink: #f75a45;
$lighter-pink: #fa9487;
$logo-pink: #f77a8f;
$gray: #464648;
$light-gray: #7f7f7f;
$blue: #7aaec2;
$light-blue: #59bad0;
$main-font: "Source Sans Pro", sans-serif;
$logo-font: Georgia;
