.carousel{
  display: flex;
  overflow: hidden;
  justify-content: space-evenly;
  place-items: center;
  gap: 2rem;
  .teacher{
    height: 14rem;
  }
}
.arrow{
  position: absolute;
  height: 4rem;
  width: 3.5rem;
  background: #888;
  clip-path: polygon(50% 0, 88% 50%, 50% 100%, 50% 78%, 70% 50%, 50% 22%);
  cursor: pointer;
  &--right {
    right: 2rem;
  }
  &--left{
    transform: rotate(180deg);
    left: 2rem;
  }
  &:hover{
    background: $gray;
    transition: 0.2s;
  }
}
@media screen and (max-width: 700px){
  .arrow{
    &--right {
      right: 0.3rem;
    }
    &--left{
      left: 0.3rem;
    }
  }
}
