html{
  margin: 0;
  padding: 0;
  font-size: 12px;
  box-sizing: border-box;
}
body{
  width: 100vw;
  font: 400 1rem $main-font;
  padding: 2vh 5rem;
}
a{
  text-decoration: none;
}
@media screen and (max-width: 700px){
  body{ padding: 2vh 2.5rem}
}
@media screen and (max-width: 660px){
  html{font-size: 11px}
}
