.top-header{
  justify-content: space-between;
  margin-bottom: 3.1rem;
}
.logo{
  font: bold 2.7rem $logo-font;
  color: white;
  text-decoration: none;
  text-shadow: -0.1rem -0.05rem 0.05rem $logo-pink,
                0.08rem 0.03rem 0.05rem black;
  &:hover{
    color: darken(white, 5);
    text-shadow: -0.18rem -0.05rem 0.05rem $accent-pink,
                  0.18rem 0.03rem 0.05rem black;
    transition: 0.5s;
  }
}
.nav-btn{
  ul{
    display: flex;
    gap: 2.2rem;
    a {
      color: $accent-pink;

      &:hover {
        color: darken($accent-pink, 25);
        transition: 0.5s;
      }
    }
  }
}
.search-bar{
  float: right;
  display: flex;
  gap: 1.2rem;
  height: 2.5rem;
  font: 1rem "PT Sans";
  position: relative;
  .search-box{
    padding-left: 4px;
    font: inherit;
    width: 14rem;
    border: solid 0.1px $light-gray;
    &::placeholder{
      color: $light-gray;
    }
    &:hover{
      width: 24rem;
      transition: 0.5s;
    }
    &:focus{
      width: 20rem;
    }
  }
}
.nav-container{
  font-size: 1.3rem;
  justify-content: space-between;
  align-items: center;
}
.magnifier{
  display: none;
  cursor: pointer;
  &:hover{
    transform: scale(1.1);
    transition: 0.3s;
  }
}
.burger{
  display: none;
  width: 3rem;
  cursor: pointer;
  &:hover{
    transform: scale(1.1);
    transition: 0.3s;
  }
}
@media screen and (max-width: 630px){
  .burger, .magnifier{ display: inline }
  .search-box, .search-bar .action-btn, .nav-btn{ display: none }
   header .nav-container {justify-content: center}
}
