.table{
  overflow-x: auto;
  .styled-table {
    font-weight: 300;
    color: $gray;
    width: 100%;
    margin: 0;
    tbody tr:nth-of-type(even) {
      background-color: #f9f5f9;
    }
    th, td {
      padding: 0.5rem 1.5rem;
      &:first-child {
        text-align: left;
      }
    }
    thead {
      font-size: 1.3rem;
      border-bottom: 0.8px solid $gray;
      th:first-child {
        text-align: left;
        text-indent: 0.8rem;
      }
      th:hover{
        background: #fafafa;
        border-bottom: solid 3px;
        &::after{
          content: "↓";
          font-weight: 100;
          font-family: "Times New Roman", sans-serif;
          color: $blue;
          margin-left: 1rem;
        }
      }
    }
  }
}
.pagination {
  margin: 1.5rem 0 0 1rem;
  gap: 1.2rem;
    a {
      text-decoration: none;
      color: $blue;
      &:hover{
        color: darken($blue, 25);
      }
    }
  .current{
    color: $gray;
  }
 }
