.top-teachers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  margin-top: 3.4rem;
  margin-bottom: 3.2rem;
  justify-content: space-evenly;
  justify-items: center;
  gap: 2rem;
  .star{
    position: absolute;
    width: 2rem;
    top: 0;
    right: 0;
    z-index: 1;
  }
}
.teacher {
  height: 15.6rem;
  width: 8.3rem;
  position: relative;
  figure {
    margin: 0;
    width: 8.2rem;
    height: 8.2rem;
    object-fit: cover;
    border-radius: 50%;
    border: solid 2px $lighter-pink;
    overflow: hidden;
    img {
      height: 100%;
      width: 100%;
      display: flex;
      position: relative;
      text-indent: -1.5rem;
      &[data-initials]:after {
        text-indent: 0;
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        color: $accent-pink;
        font-size: 1.6rem;
        font-weight: 600;
        border-radius: 50%;
        line-height: 8rem;
        content: attr(data-initials);
      }
      &:hover{
        transform: scale(1.2);
        transition: 0.5s;
        &[alt]:after {
          color: darken($accent-pink, 25);
        }
      }
    }
    &:hover{
      border-color: darken($accent-pink, 25);
      transition: 0.5s;
    }
  }
}
.filters{
  color: #adadad;
  font: 0.9rem "PT Sans", sans-serif;
  gap: 1.2rem;
  flex-wrap: wrap;
  select{
    font: inherit;
    border: solid 0.8px $light-gray;
    border-radius: 1px;
    height: 2rem;
    color: #656565;
    margin-left: 1rem;
    cursor: pointer;
  }
  input[type="checkbox"]{
    margin: 0 0.5rem 0.2rem 0;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 1px;
    cursor: pointer;
  }
}
.t {
  &-name {
    font-weight: bold;
    font-size: 1.3rem;
    margin: 1rem 0 0.7rem 0;
    color: $gray;
  }
  &-subject {
    color: #9f9f9f;
    font: 0.9rem "PT Sans", sans-serif;
    margin-bottom: 0.4rem;
  }
  &-country {
    color: #5d5c5c;
    font: 0.7rem "PT Sans", sans-serif;
  }
}

