@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600&display=swap");
.action-btn {
  font: inherit;
  color: #f75a45;
  background-color: #fff;
  border: solid 0.1px #f75a45;
  padding: 0.55rem 1.2rem;
}
.action-btn:hover {
  background-color: #f75a45;
  color: #fff;
  transition: 0.5s;
}

.description p {
  font-size: 0.8rem;
  color: #6c6c6c;
  text-align: left;
  margin: 1rem 0;
}

.line {
  max-width: 45vw;
  border-bottom: 0.1px solid black;
  margin: 2.5rem auto 1.5rem auto;
}

.dotted {
  display: inline;
  border-left: 1px dotted #999;
  height: 2rem;
  width: 1px;
}

.heading {
  font-size: 2.2rem;
  font-weight: 400;
  padding-bottom: 2rem;
  color: #222;
}

.flex-center {
  display: flex;
  align-items: center;
}

#popup-map .popup {
  width: 500px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  position: fixed;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px #464648;
  border-radius: 2px;
  min-width: 300px;
}
#popup-map .popup iframe {
  flex-grow: 1;
}

#popup-info .popup {
  width: 600px;
  min-height: 280px;
  display: flex;
  flex-direction: column;
  position: fixed;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px #464648;
  border-radius: 2px;
  min-width: 300px;
}
#popup-info .popup main {
  position: relative;
  padding: 1rem;
  text-align: left;
  color: #7f7f7f;
  font-size: 0.8rem;
}
#popup-info .popup main figure {
  margin: 0;
}
#popup-info .popup main figure img {
  width: 174px;
  float: left;
  margin-right: 21px;
}
#popup-info .popup main .info {
  padding-left: 10px;
  line-height: 20px;
}
#popup-info .popup main .info h1 {
  margin: 3px 0 18px 0;
  color: black;
  font-weight: 300;
  font-size: 1.8rem;
}
#popup-info .popup main .info p:first-of-type {
  color: black;
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 5px;
}
#popup-info .popup main .info .mail {
  color: #59bad0;
}
#popup-info .popup main .star {
  position: absolute;
  right: 10px;
  top: 15px;
  width: 35px;
}
#popup-info .popup .details {
  clear: both;
  padding-top: 1.6rem;
  line-height: 1rem;
}
#popup-info .popup .details .map {
  display: inline-block;
  padding-top: 15px;
  text-decoration: underline dashed 0.8px;
  color: #7aaec2;
}

#popup-add .popup {
  width: 320px;
  min-height: 520px;
  display: flex;
  flex-direction: column;
  position: fixed;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px #464648;
  border-radius: 2px;
  min-width: 300px;
}
#popup-add .popup form {
  display: flex;
  flex-direction: column;
  color: #7f7f7f;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  text-align: left;
  line-height: 1.8rem;
  gap: 1rem;
}
#popup-add .popup form .input {
  width: 100%;
  padding-left: 0.4rem;
  height: 2rem;
  font-size: inherit;
  border: solid 0.8px #949494;
  border-radius: 1px;
  color: #6c6c6c;
}
#popup-add .popup form .input::placeholder {
  color: #b4b4b4;
}
#popup-add .popup form .bg-color {
  width: 2.5rem;
  height: 1.3rem;
  padding: 1.2px 2px;
  margin: 0 1.8rem;
}
#popup-add .popup form .form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 18px;
}
#popup-add .popup form #comment {
  height: 71px;
}
#popup-add .popup form .action-btn {
  margin-top: 1rem;
  height: 34px;
  font-size: 1.3rem;
}
#popup-add .popup form .gender {
  display: flex;
  align-items: start;
  gap: 4px;
}
#popup-add .popup form .gender > :first-child {
  text-indent: 16px;
}
#popup-add .popup form .gender input[type=radio] {
  width: 8px;
  margin-top: 1px;
}
#popup-add .popup form textarea {
  display: inline-block;
  padding-top: 5px;
}

.exit {
  display: inline-block;
  height: 2.2rem;
  margin-right: 10px;
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.popup-header {
  display: flex;
  width: 100%;
  height: 35px;
  background: #464648;
  justify-content: space-between;
  align-items: center;
  border-radius: 2px 2px 0 0;
}
.popup-header h1 {
  color: white;
  font: 500 1.2rem "Source Sans Pro", sans-serif;
  margin-left: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(2px);
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  z-index: 2;
}

.overlay:target {
  visibility: visible;
}

@media screen and (max-width: 780px) {
  #popup-info .popup {
    width: 70vw;
  }
  #popup-info .popup main figure img {
    width: 135px;
  }
  #popup-info .popup main .info h1 {
    margin-bottom: 1rem;
  }
  #popup-info .popup main .details {
    padding-top: 1rem;
  }
  #popup-map .popup {
    width: 70vw;
    min-height: 40vh;
  }
}
@media screen and (max-width: 500px) {
  #popup-info .popup .star {
    top: unset !important;
    bottom: 0.2rem;
  }
}
html {
  margin: 0;
  padding: 0;
  font-size: 12px;
  box-sizing: border-box;
}

body {
  width: 100vw;
  font: 400 1rem "Source Sans Pro", sans-serif;
  padding: 2vh 5rem;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  body {
    padding: 2vh 2.5rem;
  }
}
@media screen and (max-width: 660px) {
  html {
    font-size: 11px;
  }
}
.top-header {
  justify-content: space-between;
  margin-bottom: 3.1rem;
}

.logo {
  font: bold 2.7rem Georgia;
  color: white;
  text-decoration: none;
  text-shadow: -0.1rem -0.05rem 0.05rem #f77a8f, 0.08rem 0.03rem 0.05rem black;
}
.logo:hover {
  color: #f2f2f2;
  text-shadow: -0.18rem -0.05rem 0.05rem #f75a45, 0.18rem 0.03rem 0.05rem black;
  transition: 0.5s;
}

.nav-btn ul {
  display: flex;
  gap: 2.2rem;
}
.nav-btn ul a {
  color: #f75a45;
}
.nav-btn ul a:hover {
  color: #b51c08;
  transition: 0.5s;
}

.search-bar {
  float: right;
  display: flex;
  gap: 1.2rem;
  height: 2.5rem;
  font: 1rem "PT Sans";
  position: relative;
}
.search-bar .search-box {
  padding-left: 4px;
  font: inherit;
  width: 14rem;
  border: solid 0.1px #7f7f7f;
}
.search-bar .search-box::placeholder {
  color: #7f7f7f;
}
.search-bar .search-box:hover {
  width: 24rem;
  transition: 0.5s;
}
.search-bar .search-box:focus {
  width: 20rem;
}

.nav-container {
  font-size: 1.3rem;
  justify-content: space-between;
  align-items: center;
}

.magnifier {
  display: none;
  cursor: pointer;
}
.magnifier:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.burger {
  display: none;
  width: 3rem;
  cursor: pointer;
}
.burger:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

@media screen and (max-width: 630px) {
  .burger, .magnifier {
    display: inline;
  }
  .search-box, .search-bar .action-btn, .nav-btn {
    display: none;
  }
  header .nav-container {
    justify-content: center;
  }
}
.table {
  overflow-x: auto;
}
.table .styled-table {
  font-weight: 300;
  color: #464648;
  width: 100%;
  margin: 0;
}
.table .styled-table tbody tr:nth-of-type(even) {
  background-color: #f9f5f9;
}
.table .styled-table th, .table .styled-table td {
  padding: 0.5rem 1.5rem;
}
.table .styled-table th:first-child, .table .styled-table td:first-child {
  text-align: left;
}
.table .styled-table thead {
  font-size: 1.3rem;
  border-bottom: 0.8px solid #464648;
}
.table .styled-table thead th:first-child {
  text-align: left;
  text-indent: 0.8rem;
}
.table .styled-table thead th:hover {
  background: #fafafa;
  border-bottom: solid 3px;
}
.table .styled-table thead th:hover::after {
  content: "↓";
  font-weight: 100;
  font-family: "Times New Roman", sans-serif;
  color: #7aaec2;
  margin-left: 1rem;
}

.pagination {
  margin: 1.5rem 0 0 1rem;
  gap: 1.2rem;
}
.pagination a {
  text-decoration: none;
  color: #7aaec2;
}
.pagination a:hover {
  color: #3b6e81;
}
.pagination .current {
  color: #464648;
}

.top-teachers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  margin-top: 3.4rem;
  margin-bottom: 3.2rem;
  justify-content: space-evenly;
  justify-items: center;
  gap: 2rem;
}
.top-teachers .star {
  position: absolute;
  width: 2rem;
  top: 0;
  right: 0;
  z-index: 1;
}

.teacher {
  height: 15.6rem;
  width: 8.3rem;
  position: relative;
}
.teacher figure {
  margin: 0;
  width: 8.2rem;
  height: 8.2rem;
  object-fit: cover;
  border-radius: 50%;
  border: solid 2px #fa9487;
  overflow: hidden;
}
.teacher figure img {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  text-indent: -1.5rem;
}
.teacher figure img[data-initials]:after {
  text-indent: 0;
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #f75a45;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 50%;
  line-height: 8rem;
  content: attr(data-initials);
}
.teacher figure img:hover {
  transform: scale(1.2);
  transition: 0.5s;
}
.teacher figure img:hover[alt]:after {
  color: #b51c08;
}
.teacher figure:hover {
  border-color: #b51c08;
  transition: 0.5s;
}

.filters {
  color: #adadad;
  font: 0.9rem "PT Sans", sans-serif;
  gap: 1.2rem;
  flex-wrap: wrap;
}
.filters select {
  font: inherit;
  border: solid 0.8px #7f7f7f;
  border-radius: 1px;
  height: 2rem;
  color: #656565;
  margin-left: 1rem;
  cursor: pointer;
}
.filters input[type=checkbox] {
  margin: 0 0.5rem 0.2rem 0;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 1px;
  cursor: pointer;
}

.t-name {
  font-weight: bold;
  font-size: 1.3rem;
  margin: 1rem 0 0.7rem 0;
  color: #464648;
}
.t-subject {
  color: #9f9f9f;
  font: 0.9rem "PT Sans", sans-serif;
  margin-bottom: 0.4rem;
}
.t-country {
  color: #5d5c5c;
  font: 0.7rem "PT Sans", sans-serif;
}

.carousel {
  display: flex;
  overflow: hidden;
  justify-content: space-evenly;
  place-items: center;
  gap: 2rem;
}
.carousel .teacher {
  height: 14rem;
}

.arrow {
  position: absolute;
  height: 4rem;
  width: 3.5rem;
  background: #888;
  clip-path: polygon(50% 0, 88% 50%, 50% 100%, 50% 78%, 70% 50%, 50% 22%);
  cursor: pointer;
}
.arrow--right {
  right: 2rem;
}
.arrow--left {
  transform: rotate(180deg);
  left: 2rem;
}
.arrow:hover {
  background: #464648;
  transition: 0.2s;
}

@media screen and (max-width: 700px) {
  .arrow--right {
    right: 0.3rem;
  }
  .arrow--left {
    left: 0.3rem;
  }
}

/*# sourceMappingURL=style.css.map */
